<h2>
  Families
  <a href="<%= new_admin_family_url %>"><i class="far fa-xs fa-plus-square text-success"></i></a>
</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Family name</th>
      <th>Parents</th>
      <th>Students</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.last_name %></td>
        <td><%= family.parents %></td>
        <td>
          <% family.students.each do |student| %>
            <div><%= student.full_name %></div>
          <% end %>
        </td>
        <td width="1%">
          <a class="btn btn-primary" href="<%= edit_admin_family_url( family ) %>">Edit</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
