<a class="btn btn-success" href="/" id="home">Home</a>
<h3>Student Tardy Sign In Log</h3>
<h3>Grade <%= params[:grade] %> > <%= params[:letter].upcase %></h3>
<h4>Choose student</h4>
<div id="students">
  <% @students.each do |student| %>
    <a class="btn btn-primary" href="/tardy/<%= params[:grade] %>/<%= params[:letter] %>/<%= student.id %>"><%= student.full_name %></a>
  <% end %>
</div>

<% content_for :css do %>
  <style>
    #students a {
      display: block;
      font-size: 4em;
      margin-bottom: 30px;
      white-space: normal;
    }
  </style>
<% end %>
